.set{
    background-color: rgb(196, 196, 196);
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.input{
    height: 20px;
    width: 150px;
}

.button{
    height: 20px;
    width: 120px;
}