
.set{
    background-color: rgb(196, 196, 196);
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.input{
    height: 20px;
    width: 150px;
    margin: 7px;
    background-color: rgb(214, 211, 211);
    border-radius: 5px;
    outline: none;
}

.button{
    height: 30px;
    width: 120px;
    background-color: rgb(125, 231, 111);
    margin: 5px;
    border-radius: 5px;
}